.custom-jumbotron {
  background-color: #46178F;
  width: 100%;
  height: 100%;
}

.slider_area .single_slider {
    height: 900px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider_bg_1 {
    background-image: url(../../resources/img/banner.png);
}

div {
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    font-style: normal;
    color: #212529;
    text-align: left;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.slider_area .single_slider .slider_text h3 {
    color: #FFF;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 74px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.slider_area .single_slider .slider_text p {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-top: 16px;
}

.boxed-btn3 {
    background: #29A745;
    color: #fff;
    display: inline-block;
    padding: 14px 27px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    cursor: pointer;
    letter-spacing: 2px;
}

#video-bg {
  position: absolute;
  z-index: 0;
  top: 120px;
  left: 1150px;
}

#video-home {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 1233px;
}


.center-div {
        height: 100%;
        position: relative;
      }

.center-div-inside {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-full-width {
  width: 150%!important;
}

.input-title {
  margin-top: 25px;
  text-align: center;
  font-size: 1.75rem;
  height: 4.75rem!important;
}

.image-upload > label > input{
    display: none;
}

.image-upload img {
    cursor: pointer;
}
